/*
* SaSS Generates CSS
* Assignment:   Final Project - Dice
* Class:        COMP 2132 (Thurs.)
* Name:         Arno Princeston Pan
* ID:           A00823325
* Date:         12/03/2021
*/
/*
* SaSS variables
* Useful colours and other pre-sets
*/
/*
* SaSS Mixins
*/
html {
  color: #2D2D2D;
  /* font colour*/
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #FFD27F;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 15px;
}

p {
  font-size: larger;
}

header {
  display: flex;
  flex-direction: column;
  /* makes the "slogan" in column */
  flex-wrap: wrap;
  word-break: break-word;
  font-family: "Lora", sans-serif;
}
header h1 {
  background-color: #FBCE11;
  max-width: 500px;
  border: 1px solid #561210;
  border-radius: 3px;
  box-shadow: 10px 15px 0px #561210;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

/* Containers */
.flexbox-container-overall {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.flexbox-container-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #EF9121;
  max-width: 100%;
  text-shadow: 2px 4px 4px grey;
  border: 1px solid #561210;
  border-radius: 3px;
  box-shadow: 3px 3px 3px slategrey;
}

.flexbox-container-main {
  margin-top: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #EF9121;
  border: 1px solid #561210;
  border-radius: 3px;
  box-shadow: 3px 3px 3px slategrey;
}

#top-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
  border: 1px solid #561210;
  border-radius: 3px;
  box-shadow: 0px 2px 2px black;
}

.main-display {
  display: flex;
  flex-direction: row;
  border: 1px solid #561210;
  border-radius: 3px;
  box-shadow: 0px 2px 2px black;
}

.players-display {
  margin: 5px;
  border: 1px solid #561210;
  border-radius: 3px;
  box-shadow: 3px 3px 3px slategrey;
}

.images-display {
  margin: 1px;
}

#button-display {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #561210;
  border-radius: 3px;
  box-shadow: 0px 2px 2px black;
}

.button-style {
  padding: 5px;
  width: 200px;
  height: 50px;
}

.flexbox-container-footer {
  margin-top: 3px;
  text-shadow: 2px 4px 4px grey;
  display: flex;
  background: #EF9121;
  border: 1px solid #561210;
  border-radius: 5px;
  box-shadow: 3px 3px 3px slategrey;
}

/* Link PseudoClasses */
a:link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-transform: uppercase;
  color: purple;
  background: lightblue;
}

a:visited {
  color: maroon;
}

a:active {
  color: red;
  background-color: orange;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-top: -5px;
  font-weight: bolder;
}

/* Other screen sizes */
@media screen and (max-width: 415px) {
  .images-display {
    max-width: 100px;
    max-height: 100px;
  }

  .players-display div {
    display: flex;
    align-items: center;
  }

  .main-display {
    flex-direction: column;
  }

  #button-display div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}