/*
* SaSS variables
* Useful colours and other pre-sets
*/

// webpage main colours
$firstColor: #561210;
$secondColor: #EF9121;
$thirdColor: #F6EB1F;
$labelBackGroundColor: #FBCE11;
$bodyBackGroundColor: #FFD27F;